.centered {
    text-align: center;
}

.alert {
    color: red;
}

.controls {
    margin-top: 1em;
    margin-right: 1em;
    text-align: right;
}

.same-row {
    display: inline-block;
}

#percentages {
    border: 1px solid darkgrey;
    margin-left: auto;
    margin-right: auto;
}

#percentages td {
    padding: 1em;
    text-align: center;
}

.percentage-input {
    width: 4em;
    text-align: center;
}