/* general properties */
html body {
    background-color: #454343;
    color: #FF9200;
}

/* no outline for selected input fields */
input:focus {
    outline: none;
}

/* slider styling */
input[type=range] {
    height: 34px;
    -webkit-appearance: none;
    margin: 10px 0;
    background-color: #454343;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animation-duration: 0.2s;
    box-shadow: 1px 1px 1px #472900;
    background: #FF9200;
    border-radius: 1px;
    border: 1px solid #FFFFFF;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 3px 3px 3px #472900;
    border: 2px solid #FFFFFF;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #FF9200;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FF9200;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animation-duration: 0.2s;
    box-shadow: 1px 1px 1px #472900;
    background: #FF9200;
    border-radius: 1px;
    border: 1px solid #FFFFFF;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 3px 3px 3px #472900;
    border: 2px solid #FFFFFF;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #FF9200;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animation-duration: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #FF9200;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #472900;
}
input[type=range]::-ms-fill-upper {
    background: #FF9200;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #472900;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 3px 3px 3px #472900;
    border: 2px solid #FFFFFF;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #FF9200;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #FF9200;
}
input[type=range]:focus::-ms-fill-upper {
    background: #FF9200;
}

/* text input fields style */
input[type=text] {
    background-color: #FFFFFF;
    color: black;
    border: 2px solid #FF9200;
    box-shadow: 3px 3px 3px #472900;
    border-radius: 23px;
    text-align: center;
    font-weight: bold;
}

/*number input fields style */
input[type=number] {
    /*background-color: #FF9200;*/
    /*color: #454343;*/
    border: 2px solid #FF9200;
    box-shadow: 3px 3px 3px #472900;
    border-radius: 23px;
    text-align: center;
    font-weight: bold;
}
/* password input field style */
input[type=password] {
    /*background-color: #FF9200;*/
    /*color: #454343;*/
    border: 2px solid #FF9200;
    box-shadow: 3px 3px 3px #472900;
    border-radius: 23px;
    text-align: center;
    font-weight: bold;
}

.nav-tabs > li > a {
    color: #454343;
}

.nav-tabs > li > a:hover {
    background-color: #ff9200 !important;
    color: #454343;
}

.nav-tabs > li.active > a {
    background-color: #FF9200 !important;
    color: #454343 !important;
}

.nav-tabs > li > a {
    color: #FF9200;
}

.centered {
    text-align: center;
}

.alert {
    color: red;
}

.controls {
    margin-top: 1em;
    margin-right: 1em;
    text-align: right;
}

.same-row {
    display: inline-block;
}

#percentages {
    border: 1px solid darkgrey;
    margin-left: auto;
    margin-right: auto;
}

#percentages td {
    padding: 1em;
    text-align: center;
}

.percentage-input {
    width: 4em;
    text-align: center;
}