/* general properties */
html body {
    background-color: #454343;
    color: #FF9200;
}

/* no outline for selected input fields and buttons*/
input:focus, button:focus {
    outline: none;
}

/* text centered in element */
.centered {
    text-align: center;
}

/* error messages */
.alert {
    color: red;
}

/* sliders */
input[type=range] {
    height: 34px;
    -webkit-appearance: none;
    margin: 10px 0;
    background-color: #454343;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animation-duration: 0.2s;
    box-shadow: 1px 1px 1px #472900;
    background: #FF9200;
    border-radius: 1px;
    border: 1px solid #FFFFFF;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 3px 3px 3px #472900;
    border: 2px solid #FFFFFF;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #FF9200;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FF9200;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animation-duration: 0.2s;
    box-shadow: 1px 1px 1px #472900;
    background: #FF9200;
    border-radius: 1px;
    border: 1px solid #FFFFFF;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 3px 3px 3px #472900;
    border: 2px solid #FFFFFF;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #FF9200;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animation-duration: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #FF9200;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #472900;
}

input[type=range]::-ms-fill-upper {
    background: #FF9200;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #472900;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 3px 3px 3px #472900;
    border: 2px solid #FFFFFF;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #FF9200;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #FF9200;
}

input[type=range]:focus::-ms-fill-upper {
    background: #FF9200;
}

/* text input fields */
input[type=text] {
    background-color: #FFFFFF;
    color: black;
    border: 2px solid #FF9200;
    box-shadow: 3px 3px 3px #472900;
    border-radius: 23px;
    text-align: center;
    font-weight: bold;
}

/*number input fields */
input[type=number] {
    color: black;
    border: 2px solid #FF9200;
    box-shadow: 3px 3px 3px #472900;
    border-radius: 23px;
    font-weight: bold;
}

/* password input field */
input[type=password] {
    color: black;
    border: 2px solid #FF9200;
    box-shadow: 3px 3px 3px #472900;
    border-radius: 23px;
    text-align: center;
    font-weight: bold;
}

/* buttons */
button, input[type=submit], .my-button {
    background-color: #FF9200;
    color: black;
    border: 2px solid #FFFFFF;
    box-shadow: 3px 3px 3px #472900;
    border-radius: 23px;
    text-align: center;
    font-weight: bold;
}

button:active, input[type=submit]:active, .my-button:active {
    box-shadow: 1px 1px 1px #472900;
    animation-duration: 0.2s;
}

/* navigation tabs */
#big-tabs li a {
    border: 2px solid white;
    border-bottom: 0;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 -3px 6px -3px #472900;
    color: #454343;
    /*background-color: #FF9200;*/
    background: linear-gradient(#FF9200, #454343);
    font-weight: bold;
    margin-bottom: 0;
}

#big-tabs li.active a {
    color: black;
    /*background-color: #FFFFFF;*/
    background: linear-gradient(#FFFFFF, #454343);
    border: 2px solid #FF9200;
    border-bottom: 0;
}

#big-tabs li a:hover {
    color: black;
    background-color: #FFFFFF;
    border: 2px solid #FF9200;
    border-bottom: 0;
}

/* Other */
.controls {
    margin-top: 1em;
    margin-right: 1em;
    text-align: right;
}

.same-row {
    display: inline-block;
}

#percentages {
    border: 1px solid darkgrey;
    margin-left: auto;
    margin-right: auto;
}

#percentages td {
    padding: 1em;
}

.percentage-input {
    width: 3vw;
    text-align: right;
}