<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf fragments</title>
</head>
<body>

<!--Login-->

<div th:fragment="login">
    <br/>
    <h3>Login page</h3>
    <br/>
    <!--/*@thymesVar id="loginError" type="java"*/-->
    <p th:if="${loginError}" class="error">Wrong user or password</p>
    <!--/*@thymesVar id="logoutSuccess" type="java"*/-->
    <p th:if="${logoutSuccess}" class="error">You have logged out successfully!</p>
    <form th:action="@{/login}" method="post">
        <label for="username">Username</label>:
        <input type="text" id="username" name="username" autofocus="autofocus"/> <br/>
        <label for="password">Password</label>:
        <input type="password" id="password" name="password"/> <br/>
        <br/>
        <input type="submit" value="Log in"/>
    </form>
    <br/>
    <button onclick="location.href = '/wl/register'" type="button">Register</button>
</div>

<!--Registration-->

<div th:fragment="register">
    <h2>Registration mock-up.</h2>
    <form th:action="@{/register}" method="post">
        <input type="submit" value="Register">
    </form>
</div>

<!--Registration successful-->

<div th:fragment="registersuccess">
    <h2>Registration successfull!</h2>
    <button onclick="location.href='/wl/login'" type="button">OK</button>
</div>

<!--User panel-->
<div th:fragment="userpanel">
    <div class="usercontrols">
        <!--/*@thymesVar id="userIndicator" type="java"*/-->
        <p class="same-row" th:text="${userIndicator}"></p>
        <button class="same-row" onclick="location.href='/wl/logout'" type="button">Log out</button>
        <!--/*@thymesVar id="adminRights" type="java"*/-->
        <button th:if="${adminRights}" class="same-row" onclick="location.href='/wl/admin'">Admin panel</button>
    </div>
    <h2>Your workouts:</h2>
</div>

<!--Admin panel-->

<div th:fragment="adminpanel">
    <h2>Welcome, Admin!</h2>
    <button onclick="location.href='/wl/login'" type="button">Take me back</button>
</div>
</body>
</html>