<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <title>Weightlifting Log Home</title>
</head>
<body>
<div class="container">

    <!--Title and logo section-->
    <h2>Weightlifting Log</h2>

    <!--Navbar section-->

    <!--Tab header section-->
    <!--Either main calculator tab or login tab are active depending on boolean sent from controller-->
    <ul class="nav nav-tabs nav-justified">
        <li class="" th:classappend="${showCalc != null}? active"><a data-toggle="tab" href="#home">Main calculator</a></li>
        <li><a data-toggle="tab" href="#menu1">1 Rep Max</a></li>
        <li><a data-toggle="tab" href="#menu2">Calculator #2</a></li>
        <li class="" th:classappend="${showCalc == null}? active"><a data-toggle="tab" href="#menu3">Training Log</a></li>
    </ul>

    <!--Tab content-->
    <!--Either main calculator tab or login tab content are visible depending on boolean sent from controller-->
    <div class="tab-content">

        <!--Tab#1 content - overall strength calculator-->
        <div id="home" class="tab-pane centered fade" th:classappend="${showCalc != null}? 'in active'">
            <br/>
            <h3>Overall Strength</h3>
            <br/>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <!--Tab#2 content - percentages calculator-->
        <div id="menu1" class="tab-pane centered fade">
            <br/>
            <h3>Percentages Calculator</h3>
            <br>

            <!--Weight slider-->
            <div>
                <label for="weight">Weight lifted</label>
                <input name="weight" id="weight" type="range" min="1" max="200" value="100" class="slider" onchange="updateWeight(this.value)"><br/>
                <label for="weight-text"></label><input type="text" id="weight-text" value="100">
            </div>
            <br/>

            <!--Number of reps performed slider-->
            <div>
                <label for="reps">Number of reps:</label>
                <input name="reps" id="reps" type="range" min="1" max="19" value="10" class="slider" onchange="updateReps(this.value)"><br/>
                <label for="reps-text"></label><input type="text" id="reps-text" value="10">
            </div>
            <br/>
            <div>

                <!--Percentages calculator-->
                <table id="percentages">
                    <tr>

                        <!--1 rep max result and "calculate" button-->
                        <td colspan="13">
                            <label for="result">100%</label><input id="result" type="text" value="" readonly>
                            <button type="button" onclick="calculate1RM()">Calculate!</button>
                        </td>
                    </tr>

                    <!--Predefined percentages, adjustable-->
                    <tr>
                        <td>%<input class="percentage-input" id="percentage-input-1" type="number" value="95"/></td>
                        <td>%<input class="percentage-input" id="percentage-input-2" type="number" value="90"/></td>
                        <td>%<input class="percentage-input" id="percentage-input-3" type="number" value="85"/></td>
                        <td>%<input class="percentage-input" id="percentage-input-4" type="number" value="80"/></td>
                        <td>%<input class="percentage-input" id="percentage-input-5" type="number" value="75"/></td>
                        <td>%<input class="percentage-input" id="percentage-input-6" type="number" value="70"/></td>
                        <td>%<input class="percentage-input" id="percentage-input-7" type="number" value="65"/></td>
                        <td>%<input class="percentage-input" id="percentage-input-8" type="number" value="60"/></td>
                        <td>%<input class="percentage-input" id="percentage-input-9" type="number" value="50"/></td>
                        <td>%<input class="percentage-input" id="percentage-input-10" type="number" value="40"/></td>
                        <td>%<input class="percentage-input" id="percentage-input-11" type="number" value="30"/></td>
                        <td>%<input class="percentage-input" id="percentage-input-12" type="number" value="20"/></td>
                        <td>%<input class="percentage-input" id="percentage-input-13" type="number" value="10"/></td>
                    </tr>

                    <!--Percentages calculation results-->
                    <tr>
                        <td id="percentage-1"> </td>
                        <td id="percentage-2"> </td>
                        <td id="percentage-3"> </td>
                        <td id="percentage-4"> </td>
                        <td id="percentage-5"> </td>
                        <td id="percentage-6"> </td>
                        <td id="percentage-7"> </td>
                        <td id="percentage-8"> </td>
                        <td id="percentage-9"> </td>
                        <td id="percentage-10"> </td>
                        <td id="percentage-11"> </td>
                        <td id="percentage-12"> </td>
                        <td id="percentage-13"> </td>
                    </tr>
                </table>
            </div>
        </div>

        <!--Tab#3 content-->
        <div id="menu2" class="tab-pane centered fade">
            <br/>
            <h3>Calculator #2</h3>
            <br/>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>

        <!--Tab#4 content-->
        <div id="menu3" class="tab-pane centered fade" th:classappend="${showCalc == null}? 'in active'">
            <div th:if="${!page.isEmpty()}" th:replace="__${page}__">
                <p>If you see this message, something went wrong...</p>
            </div>
        </div>

        <!--Page footer content-->
    </div>
</div>
</body>
</html>