<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Weightlifting Log Home</title>
</head>
<body>
<div class="container">

    <!--Title and logo section-->
    <h2>Weightlifting Log</h2>

    <!--Navbar section-->

    <!--Tab header section-->
    <!--Either main calculator tab or login tab are active depending on boolean sent from controller-->
    <ul class="nav nav-tabs nav-justified">
        <li class="" th:classappend="${showCalc != null}? active"><a data-toggle="tab" href="#home">Main calculator</a></li>
        <li><a data-toggle="tab" href="#menu1">1 Rep Max</a></li>
        <li><a data-toggle="tab" href="#menu2">Calculator #2</a></li>
        <li class="" th:classappend="${showCalc == null}? active"><a data-toggle="tab" href="#menu3">Training Log</a></li>
    </ul>

    <!--Tab content-->
    <!--Either main calculator tab or login tab content are visible depending on boolean sent from controller-->
    <div class="tab-content">

        <!--Tab#1 content-->
        <div id="home" class="tab-pane centered fade" th:classappend="${showCalc != null}? 'in active'">
            <br/>
            <h3>Main calculator</h3>
            <br/>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <!--Tab#2 content-->
        <div id="menu1" class="tab-pane centered fade">
            <br/>
            <h3>1 Rep Max Calculator</h3>
            <br/>
            <h5>Weight lifted:</h5>
            <div>
                <input type="range" min="1" max="100" value="50" class="slider">
            </div>
            <h5>Number of reps:</h5>
            <div>
                <input type="range" min="1" max="100" value="50" class="slider">
            </div>
            <br>
            <button type="button">Calculate!</button>
        </div>

        <!--Tab#3 content-->
        <div id="menu2" class="tab-pane centered fade">
            <br/>
            <h3>Calculator #2</h3>
            <br/>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>

        <!--Tab#4 content-->
        <div id="menu3" class="tab-pane centered fade" th:classappend="${showCalc == null}? 'in active'">
            <div th:if="${!page.isEmpty()}" th:replace="__${page}__">
                <p>If you see this message, something went wrong...</p>
            </div>
        </div>

        <!--Page footer content-->
    </div>
</div>
</body>
</html>